<div id="hlavni">
  <div id="main">
    <h1>Info</h1>
  </div>
  <div id="content">
    Kousek od Bubovických vodopádů proti proudu Bubovického potoka, uprostřed luk a přírody, jsme narazili na malý
    rybníček. Jaký byl náš údiv, když po hrázi se nedalo kvůli velkému množství pářících se žab projít. Doslova jsme se
    dostali do přímé linie žabího vojska nárokující si toto území. Času nezbývalo již mnoho a tak po ohromujícím zážitku
    jsme rychle pokračovali do Bubovic. Obec Bubovice je zasazena do malebné krajiny chráněné krajiny oblasti Český
    Kras. Její historie sahá až do roku 1333.
    jsou časově rozvrženy v závislosti na počasí od jara do léta. Námluvy trvají maximálně několik dní, k páření dochází
    především v noci. Páření žab by se opravdu dalo nazvat hromadnými sexuálními orgiemi. Na jednom místě se může sejít
    stovky i tisíce žab stejných, ale i různých druhů. Oplodnění je vykonáno v tzv. vnějším prostředí tak, že samec se
    přichytí předníma nohama na zádech samice a samička pod vahou vypustí ve shlucích (řetízcích) vajíčka a samec na ně
    vypustí hned sperma. Oplodňování může trvat od několika minut po několik hodin. Při tomto aktu může i žába zahynout
    a to proto, jak se na ni nabalují další a další samci a ona pod jejich vahou se nemůže nad hladinou nadechnout a
    utopí se. Oplodněná vajíčka plavou v rosolovité hmotě buď po hladině, nebo přilnou k nějaké vodní rostlině. Při tak
    obrovském shluku různých druhů žab může dojít i k tomu, že si samečkové druhově vyberou nesprávnou žábu, z takových
    oplodněných vajíček pak vznikají hybridi. Z každého vajíčka se po čase vylíhne larva žáby – pulec.


  </div>
</div>
