.btn {
  margin-right: 45px;
  margin-left: 10px;
}
.btn a{
  color: inherit;
}

.hledac a{
  color: white;
  margin-right:10px;
  text-align: left;
}

.hledac{
  position: fixed;
  margin-left: 85%;
}
