
#text {
  text-align: center;
  margin-top: 25%;
}

.obecne {
  font-family: Arial;
  letter-spacing: 20px;
  font-size: 70pt;
  color: lightgrey;
}


#hlavni {
  position: absolute;
  background-color: rgba(90, 91, 92, 0.5);
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  height: 100%;
}
